a:link
{
    text-decoration:none;
}
.site-banner{
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    background: #1e2339;
    color: #b6d4fe;
    height: 34px;
}
.fa-linkedin-square{
    display: flex;
    background: #1e2339;
    color: #b6d4fe;
    font-size: 1.5rem;
    line-height: 120%;
    padding-left: 1rem;
    align-items: center;
}

.btn-primary {
    border: 0;
    background: #565968;
    font-size: 1rem;
}

.login{
    display: flex;
    flex-direction: row;

}
.header-image  {
    position: relative;
    background-image: url("../images/header-paris.jpeg");
    background-color: #cccccc;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: .8rem;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 1px;
}
.date-event{
    display: flex;
    margin-right: 0;
    color: #1e2339;
    font-weight: 900;
    text-align: center;
}
.fa-chevron-right{
    color: orange;
    padding: 6px;
}

.lieu-event{
    display: flex;
    color: #1e2339;
    font-weight: 900;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}





.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}